body {
	font-family: 'Nunitosans', Arial, Helvetica, sans-serif;
	/* overflow-x: hidden; */
	/* padding-top: 56px; */
}

header .container {
	padding: 40px 0 10px 0;
}

.carousel-item {
	height: 90%;
	min-height: 500px;
	/* background: no-repeat center center scroll; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.portfolio-item {
	margin-bottom: 30px;
}
